<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="task_board">

    <!-- ********* -->
    <!-- Arguments -->
    <!-- ********* -->

    <xacro:arg name="board_id" default="task_board"/>

    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <xacro:include filename="$(find hrii_task_board_description)/urdf/task_board.urdf.xacro"/>
    
    <!-- ****** -->
    <!-- Models -->
    <!-- ****** -->

    <xacro:task_board board_id="$(arg board_id)" height="0.085"/>
    
</robot>